:root {
    --main-color: #9be069;
    --width-of-slide: 55%;
}

body {
    font-family: 'Comfortaa', sans-serif;
    color: white;

}

#background-image {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    display: block;
    background-image:url('../assets/gallery/examples/back_1.jpeg');
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    box-shadow: inset 0 10px 1000px black;
    width: 1920px;
    height: 1024px;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    margin: 3vh 0 0 0;
}

p {
    margin: 0 0 2vh 46vw;
}

#bytic {
    color: #c5c5c5;
}

.container {
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
}



#current_slide {
    position: absolute;

    margin-left: 17vw;
    width: var(--width-of-slide);
    z-index: 1;
    box-shadow: 0 0 10px black;

}

.arrow {
    margin-top: 23vh;
    width: 2.5vw;
    position: absolute;
    padding: 1vh 1vw;
    border: 4px solid var(--main-color);
}

.arrow:hover {
    box-shadow:0 0 20px  var(--main-color);

    border: 4px solid #B3EA8DFF;
}

#right_arrow {
    margin-left: 71.5vw;
}

#left_arrow {
    margin-left: 12.7vw;
}

#previous_slide, #next_slide {
    width: 40vw;
    z-index: -1;
    position: absolute;
    margin-top: 4vh;
    box-shadow: inset 0 0 100px black;
}

#previous_slide {
    float: left;
    left: 10%;
}

#next_slide {
    float: right;
    right: 10%;
}

#description {
    position: absolute;
    font-weight: lighter;
    width: var(--width-of-slide);
    bottom: 18vh;
    left: 22vw;
    text-align: left;
    margin: 0;

}
.submit {
    font-size: 30px;
    z-index: 1;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    text-align: center;
    border: 4px solid var(--main-color);
    text-decoration: none;
    padding: 10px 30px;
    color: white;
    bottom: 3vh;
    right: 40vw;
}

.submit:hover {
    box-shadow:0 0 20px  var(--main-color);

    border: 4px solid #B3EA8DFF;
}
